---
import Layout from '../layouts/Layout.astro';
import InfoSection from '../components/InfoSection.astro';
import HeroSection from '../components/HeroSection.astro';
---

<Layout title="Base Apparel">
	<main class="relative max-w-full h-full flex flex-col-reverse md:flex-row items-center justify-between">
		<InfoSection />
		<HeroSection />
	</main>
</Layout>

