---
import InputComponent from "./InputComponent.astro"
---

<section class="p-10 md:p-20 h-full md:min-h-screen w-full md:w-[60%]">
	<img src="/images/logo.svg" alt="logo">

	<section class="mt-10 md:mt-32">
		<h1 class="font-global text-3xl md:text-6xl leading-10 md:leading-8">
			<span class="font-thin text-primary-desaturated-red tracking-[12px]">WE'RE</span> <br>
			<span class="font-semibold tracking-[12px]">COOMING <br> SOON</span>
		</h1>

		<p class="text-sm md:text-base mt-4 font-global w-full md:w-[70%] leading-6 md:leading-7 text-primary-desaturated-red font-semibold">
			Hello fellow shoppers! We're currently building our new fashion store. Add your email below stay up-to-date with announcements and our launch deals.
		</p>

		<InputComponent />

	</section>
</section>
