<section class="md:p-20 min-h-screen w-full md:w-[60%]">
	<img src="/images/logo.svg" alt="logo">

	<section class="md:mt-32">
		<h1 class="font-global md:text-6xl leading-8">
			<span class="font-thin text-primary-desaturated-red tracking-[12px]">WE'RE</span> <br>
			<span class="font-semibold tracking-[12px]">COOMING <br> SOON</span>
		</h1>

		<p class="mt-4 font-global w-[70%] leading-7 text-primary-desaturated-red font-semibold">
			Hello fellow shoppers! We're currently building our new fashion store. Add your email below stay up-to-date with announcements and our launch deals.
		</p>

		<form class="mt-8 w-[70%] relative">
			<input class="w-full py-3 px-4 font-global text-primary-desaturated-red rounded-full border-2 border-primary-desaturated-red placeholder:text-sm placeholder:text-primary-desaturated-red" type="email" 
			placeholder="Email Address" 
			required>
			<button class="absolute top-0 right-0 w-24 h-12 rounded-full bg-primary-soft-red text-white">go</button>
		</form>

	</section>
</section>
